html {
    font-size: $font-size;
    overflow-y: scroll;

}
body {
    font-size: 1rem;
    font-family: $font-main;
}
a {
    color: $color-primary;
&:hover,
&:focus {
    text-decoration: none;
    color: $color-accent;
}
}
h1,h2 {
    
        font-family: $font-header;
        font-size: 3rem;
        margin-top: -9px;
        margin-bottom: 45px;
     
}