.footer {
    padding-top: 45px;
  
    color: white;
    background-color: $color-dark;
  
    &__item {
      padding: 0;
  
      list-style: none;
    }
  
    a {
      color: #777777;
  
      &:hover {
        color: white;
      }
    }
  }
  
  .footer-fifth {
    margin: 20px 0;
  
    text-align: center;
  
    a {
      color: white;
    }
  }
  