.header {

}



.header-logo {
background-color: ;

    &__title {
        display: block;
        color: $color-accent;
        font-size: 3.5rem;
        font-family: $font-header;

    }

    &__description {
        display: block;
    }
}
