.left-sidebar {
    @extend %matgin-bottom-lg;
    
    .panel:last-of-type {
        margin-bottom: 0;
    }
}
.vertical-slider {
    border-radius: 4px;

    &__image {
        width: 100%;
        overflow: hidden;
    
    }
}

.user-login {
    position: relative;


    &__tabs {
   position: absolute;
   top: 0;
   right: 10px;
   border: none;

   a {
    color: $color-gray;
     border: none !important;
     background-color: transparent !important;
     padding: 14px 5px 11px !important;
     color: $color-light !important;

   }
   
 }
}

.site-news-item {
    clear: both;
    position: relative;

    &:not(:last-child) {
        min-height: 85px;
        margin-bottom: $gap;

        &::after {
            right: 0;
            bottom: -5px;
            width: calc(100% - 85px);
            content: "";
            height: 1px;
            background-color: $color-gray;
    
        }
        
    }
    &:hover {
        a {
            color: $color-accent;   
        }
    }
}
  .site-news {
    &__image {
        float: left;
        margin: 0 10px 10px 0; 
        width: 75px;
         &:hover {
             background-color: #fff;
         }
        
      }
      &__title {
         @include block-shortener;
      }

      &__date {
        text-align: right;
        font-size: 0.8rem;
        color: darken($color-gray, 30%);
    }
  }

 


